<<%= Redmine::VERSION.to_s > '3.2' ? 'div' : 'table' %>  class="attributes invoice status-<%= invoice.status_id %> <%= 'overdue' if invoice.overdue? %>" >
<%= issue_fields_rows do |rows|
  rows.left l(:field_invoice_status), invoice_status_tag(invoice), :class => 'status'
  rows.left l(:field_invoice_language), invoice_avaliable_locales_hash[invoice.language.blank? ? 'default' : invoice.language], :class => 'language'
  rows.left l(:field_invoice_contact), !invoice.contact.blank? ? link_to_contact(invoice.contact, :avatar => true).html_safe : ""
  rows.left l(:field_invoice_assigned_to), "#{avatar(invoice.assigned_to, :size => "14")}#{(invoice.assigned_to ? link_to_user(invoice.assigned_to) : "-")}".html_safe, :class => 'assigned-to'
  rows.right l(:field_invoice_order_number), invoice.order_number, :class => 'oder-number'
  rows.right l(:field_invoice_date), format_date(invoice.invoice_date), :class => 'start-date'
  rows.right l(:field_invoice_due_date), format_date(invoice.due_date), :class => 'due-date'
  rows.right l(:field_invoice_discount), invoice.discount > 0 ? "#{"%.2f"%invoice.discount.round(2)}% / #{price_to_currency(invoice.discount_amount, invoice.currency)}".html_safe : ""
end %>
  <%= call_hook(:view_invoices_show_details_bottom, :invoice => invoice) %>
</<%= Redmine::VERSION.to_s > '3.2' ? 'div' : 'table' %>>

<% if invoice.description? %>
  <hr />
  <p><strong><%=l(:field_description)%></strong></p>
  <div class="wiki">
  <%= textilizable invoice, :description, :attachments => invoice.attachments %>
  </div>
<% end %>
