<tr class="line-data <%= cycle('odd', 'even') %>">
  <td class="position"><%= line.position %></td>
  <td class="description"><%= textilizable(line.description) %></td>
  <td class="quantity">x<%= line.quantity %></td>
  <% if InvoicesSettings.show_units? %>
    <td class="units"><%= line.units %></td>
  <% end %>
  <td class="price"><%= line.price_to_s %></td>
  <% if invoice.has_taxes?  %>
  <td class="tax" title="<%= "#{l(:field_invoice_line_tax_amount)}: #{price_to_currency(line.tax_amount, invoice.currency)}" if line.tax %>"><%= line.tax.to_s + '%' if line.tax.to_f > 0.0 %></td>
  <% end %>
  <td class="total_price"><%= price_to_currency(line.total, invoice.currency) %></td>
</tr>
